/** Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     text-decoration: none;
}

/** Colors variables */
:root{
    --primary: #eebf00;
    --secondary: #232b38;
    --ternary:#6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/** media screen  */
@media (min-width:576px)
{
    .container{
        max-width: 540px;
    }
}
@media (min-width:768px)
{
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px)
{
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px)
{
    .container{
        max-width: 1152px;
    }
}
.main-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.nav-background{
    width: 100%;
    height: 100%;
    background-color: var(--light);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}
.nav-trigger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;
    display: none;
}
.site-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--heaven);
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.site-content-wrapper.scaled{
    transform: scale(0.9) translateX(90%);
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.site-content{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
header.topbar{
    background-color: var(--secondary);
    color: var(--pure);
    font-weight: 600;
    padding: 0.75rem 0;
}
header.topbar i, header.topbar .auth > div a{
    color: var(--pure);
}
header.topbar .icons a {
    margin-right: 0.6rem;
}
header.topbar .auth .divider{
    display: inline-block;
    padding: 0 1rem;
}
header.topbar .auth > div i {
    display: inline-block;
    margin-right: 0.35rem;
}

.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
nav .top{
    padding: 1.5rem 0;
}
nav .top .contact h5, nav .top .time h5 {
    font-weight: 900;
    margin-bottom: 0.25rem;
}
nav .top .contact h6 , nav .top .time h6 {
    font-weight: 500;
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color: var(--ternary);
}
nav .top .contact img, nav .top .time img {
    margin-right: 1rem;
}
nav .navbar a{
    color: var(--secondary);
    font-weight: 600;
    font-size: 1rem;
    padding:1rem 1.5rem ;
    transition:all 0.3s ease-in-out;
}
nav .navbar a.active
{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
.magic-shadow{
    position:relative;
    background-color: var(--heaven);
}
.magic-shadow::after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    bottom: -20px;
    z-index: -1;
}
.magic-shadow-sm{
    position:relative;
    background-color: var(--heaven);
}
.magic-shadow-sm::after{
    content: '';
    display: block;
    width: 90%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    bottom: -20px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
header.hero{
    height: 600px;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
header.hero .container{
    position: relative;
}
header.hero .welcome{
    margin-bottom: 0.25rem;
}
header.hero .welcome span{
    font-weight: 700;
    color: var(--secondary);
    margin-right: 0.75rem;
}
header.hero h1 {
    font-weight: 900;
    color: var(--secondary);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color: var(--primary);
}
header.hero p {
    font-weight: 500;
    width: 50%;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    border:1px solid transparent;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--heaven);
    border: 1px solid var(--primary);
}
.btn-primary:hover{
    background-color: var(--heaven);
    color: var(--primary);
}
.btn-secondary{
    background-color: var(--secondary);
    color: var(--heaven);
    border: 1px solid var(--secondary);
}
.btn-secondary:hover{
    background-color: var(--heaven);
    color: var(--secondary);
}
header.hero  button:first-child{
    margin-right: 0.50rem;
}
header.hero  .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}
section{
    padding: 4rem 0;
}
section.top-products{
    background-color: var(--light);
}
.section-heading{
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
}
.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -40px;
}
section.top-products .slider{
    position: relative;
}
section.top-products .food-slider .food-card{
    background-color: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
    margin:0 1.8rem;
}
section.top-products .food-slider .food-card .product-image img{
    width: 80%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
}
hr{
    border:1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-weight: 900;
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}
.text-center{
    text-align: center;
}
section.top-products .food-slider .food-card .stars {
    margin-bottom: 0.5rem;
}
section.top-products .food-slider .food-card .stars img{
    margin-right: 0.25rem;
}
section.top-products .food-slider .food-card .price{
    font-weight: 500;
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-weight: 500;
    color: var(--secondary);
    background-color: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
section.top-products .food-slider .food-card button:hover{
    background-color: var(--primary);
    color: var(--heaven);
}
section.top-products .food-slider .food-card button img {
    background-color: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right: 1.2rem;
}
.slick-slider{
    margin:0 2rem;
}
.slick-list{
    margin: 0 -2rem;
}
.top-products .slider-btn{
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    outline: none;
}
.top-products .prev-btn{
    position: absolute;
    top: 50%;
    z-index: 1;
    left: -1rem;
    transform: translateY(-25%);
}
.top-products .next-btn{
    position: absolute;
    top: 50%;
    z-index: 1;
    right: -1rem;
    transform: translateY(-25%);
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}

.slick-track{
    padding: 1rem 0;
}

section.about-meal img {
    width: 85%;
}
.flex-1{
    flex: 1;
}
section.about-meal h2{
    font-weight: 700;
    font-weight: 1.4rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    line-height: 1.3;
}
section.about-meal p{
    font-weight: 1.4rem;
    margin-bottom: 4rem;
    line-height: 1.7;
}

section.our-services{
    background-color: var(--light);
    z-index: 0;
    position: relative;
}
section.our-services .card-wrapper{
    margin-top: 8rem;
}
section.our-services .service-card{
    background-color: var(--heaven);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    position: relative;
    border-radius: 4px;
    margin-right: 2rem;
}
section.our-services .service-card:last-child{
    margin-right: 0;
}
section.our-services .service-card .icon{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
section.our-services .service-card h2{
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom: 1rem;
}

.text-primary{
    color: var(--primary);
}

.text-pure{
    color: var(--pure);
}
section.big-deal{
    background-image:linear-gradient(
        rgba(35,43,56,0.9),
        rgba(35,43,56,0.9)
    ),url(../images/food-table.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   background-attachment: fixed;
}
section.big-deal .timer{
    margin-bottom: 2rem;
}
section.big-deal .timer div{
    margin-right: 2rem;
    background-color: var(--primary);
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.big-deal .timer div:last-child{
    margin-right: 0rem;
}
section.big-deal .timer div span:first-child{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--heaven);
    margin-bottom: 0.05rem;
}
section.big-deal .timer div span:last-child{
    font-weight: 500;
    color: var(--heaven);
}
section.latest-news{
    background-color: var(--light);
}
section.latest-news {
    position: relative;
    z-index: 0;
}

section.latest-news .article-wrapper .card img {
    width: 100%;
}
section.latest-news .article-wrapper .card {
    margin-right: 2rem;
    background-color: var(--heaven);
    border-radius: 4px;
}
section.latest-news .article-wrapper .card:last-child{
    margin-right: 0rem;
}
section.latest-news .article-wrapper .card .content{
    padding: 2rem;
}
section.latest-news .article-wrapper .card .content .post-meta{
    margin-bottom: 1rem;
}
section.latest-news .article-wrapper .card .content .post-meta .comment-count{
    margin-left: 1rem;
}
section.latest-news .article-wrapper .card .content h2{
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
section.latest-news .article-wrapper .card .content p{
    line-height: 1.6;
}
section.latest-news .btn-wrapper{
    margin-top: 2rem;
}
section.subscribe{
    background-color: var(--primary);
}
section.subscribe .container > div:first-child img{
    width: 90%;
}
section.subscribe h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.subscribe p {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}
section.subscribe .input-wrap{
    background-color: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
}
section.subscribe .input-wrap input{
    width: 100%;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
}
section.subscribe .input-wrap button{
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--heaven);
    transition: all 0.3s ease-in-out;
}
section.subscribe .input-wrap button:hover{
    color: var(--heaven);
    background-color: var(--secondary);
}

section.contact-us{
    padding: 0;
}
section.contact-us .map{
    filter:grayscale(100%) ;
}
section.contact-us .contact-info-wrapper{
    padding: 4rem 0;
}
section.contact-us .contact-info > div > div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section.contact-us .contact-info > div > div img {
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div {
    display: flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-weight: 700;
    margin-bottom: 0.25rem;
}
footer{
    background-color: var(--footer);
    text-align: center;
    padding: 4rem 0;
}
footer .container{
    color: var(--pure);
}
footer .box{
    flex: 1;
    margin-right: 2rem;
}
footer .box:last-child{
    margin-right: 0rem;
}
footer .instagram-api img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer .instagram-api .post-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
footer .instagram-api .post-wrapper > div{
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 10px);
}
footer  .box ul{
    list-style: none;
}
footer  .box ul li a {
    color: var(--pure);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
footer  .box ul li a:hover{
    color: var(--primary);
}
footer  .box ul li{
    margin-bottom: 1rem;
}
footer .box h3{
    border-bottom:1px solid var(--primary) ;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    line-height: 1.6;
    margin-bottom: 1rem;
}
footer .box:nth-child(3) > div{
    display: flex;
    justify-content:center;
}
footer .box:nth-child(3) > div ul {
    text-align: left;
}
footer .box:nth-child(3) > div ul i{
    margin-right: 0.5rem;
}
footer .box:nth-child(3) > div ul li{
    margin-bottom: 1.5rem;
}
footer.copyright{
    padding: 1rem 0;
    background-color:var(--secondary);
    color: var(--pure);
    font-size: 0.75rem;
}
.nav-background .mobile-logo{
    padding: 1rem;
}
.nav-background .mobile-nav ul{
    list-style-type: none;
}
.nav-background .mobile-nav ul li {
    margin-bottom: 1rem;
}
.nav-background .mobile-nav {
    padding: 1rem;
}
.nav-background .mobile-nav ul li a{
    text-decoration: none;
    color: var(--secondary);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.nav-background .mobile-nav ul li a:hover{
    color: var(--primary);
}
.nav-background .contact, .nav-background .time{
    padding: 1rem;
    padding-left: 0;
}
.nav-background .contact img , .nav-background .time img {
    margin-right: 1rem;
}
.nav-background .contact h5, .nav-background .time h5{
    font-weight: 700;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}
.nav-background .cart{
    margin-bottom: 2rem;
}
.nav-background .cart a{
    color: var(--secondary);
    text-decoration: none;
    font-weight: 700;
}
.nav-background .cart img{
    margin-right: 0.75rem;
    width: 20px;
    height: 20px;
}
@media (max-width:992px)
{
    .nav-trigger{
        display: block;
    }
    header.topbar, nav{
        display: none;
    }
    header.hero{
        margin-top: -4rem;
    }
    header.hero .hero-image{
        top: 80px;
        right: -160px;
    }
    .top-products .slider-btn{
        display: none!important;
    }
    .latest-news .article-wrapper{
        flex-direction: column;
    }
    section.latest-news .article-wrapper .card{
        margin-right: 0;
        margin-bottom: 2rem;
    }
    footer .instagram-api .post-wrapper > div{
        width: calc(1 / 2 * 100% - (1 - 1 / 3) * 10px);
    }

}
@media (max-width:768px)
{
    .about-meal-wrap{
        flex-direction: column;
        text-align: center;
    }
    .about-meal-wrap div:first-child img{
        width: 100%;
        margin-bottom: 2rem;
    }
    section.our-services .card-wrapper{
        flex-direction: column;
    }
    section.our-services .card-wrapper > div {
        margin-right: 0;
        margin-bottom: 4rem;
    }
    section.our-services .card-wrapper > div:last-child{
        margin-bottom: 0rem;
    }
    section.subscribe .container{
        flex-direction: column;
        text-align: center;
    }
    section.subscribe .container > div:first-child img {
        width: 100%;
    }
    footer .container{
        flex-direction: column;
    }
    footer .box {
        margin-right: 0rem;
        text-align: start;
        margin-bottom: 3rem;
    }
    footer .box:nth-child(3) > div {
        justify-content: flex-start;
    }
}
@media (max-width:576px)
{
    header.hero .hero-image{
        right: -220px;
        top: 110px;
    }
    section.contact-us{
        flex-direction: column;
    }
    section.big-deal .timer > div {
        margin-right: 0.5rem;
    }
    section.big-deal .timer > div:last-child {
        margin-right: 0rem;
    }
}